In [1]:
#dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import time

In [2]:
# # Mars Headlines
#url and get page with requests
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

In [3]:
#get your soup (object)
headlines_soup = bs(response.text, 'lxml')

In [4]:
#scrape the latest news headline text and get rid of the white space
headline = headlines_soup.find('div', class_ = 'content_title').text.strip()

In [5]:
#print it to make sure it works
print(headline)

NASA's InSight Places First Instrument on Mars

In [6]:
#scrape the blurb text that goes with the headline - a.k.a. the first paragraph without white space 
news = headlines_soup.find('div', class_ = 'rollover_description_inner').text.strip()

In [7]:
#make sure that one worked too...
print(news)

In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [8]:
# # Get your featured image of Mars
# Import Selenium & Splinter and set the chromedriver path (I'm on windows)
from selenium import webdriver
from splinter import Browser
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [9]:
#visit the URL
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [10]:
#click the button to get to the full image
browser.click_link_by_id('full_image')

In [11]:
#pause 2 seconds to let it load
time.sleep(2)

In [12]:
#scrape browser into soup and find full resolution image of Mars
#btw, there is no "largesize" image link
#Bring up the image
html = browser.html
image_soup = bs(html, "lxml")
img_url = image_soup.find('img', class_ = 'fancybox-image')['src']

In [13]:
#append the url snippet to make it the full url of the image 
featured_img_url = "https://www.jpl.nasa.gov" + img_url

In [14]:
#verify we have the url
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18886_ip.jpg'

In [15]:
#on to getting the latest tweet about the weather on Mars
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)

In [16]:
# create soup object
weather_soup = bs(response.text, 'html.parser')

In [17]:
#grab all the tweets in case the first one isn't the one you want
mars_weather_tweet = weather_soup.find_all('div', class_ = "js-tweet-text-container")

In [18]:
# find the first actual weather tweet (they start with "sol")
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('Sol'):
        mars_weather = tweet.text.strip()

In [19]:
#verify you got the right info 
print(mars_weather)

Sol 2249 (2018-12-03), high -4C/24F, low -70C/-93F, pressure at 8.46 hPa, daylight 06:33-18:48

In [20]:
# # Mars Facts
#visit the space facts site
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [21]:
# find the html table and convert to pandas dataframe
mars_df = pd.read_html(url)
mars_df = (mars_df[0])

In [22]:
#set column headers 
mars_df.columns = ["Description", "Value"]
# mars_df = mars_df.set_index("Description")
# I decided not to reset the index because, to me, it looks messier to have the column headers in two mis-aligned cells
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
mars_df = mars_df.to_html(classes='mars')
table_data = mars_df.replace('\n', ' ')
table_data

'<table border="1" class="dataframe mars">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Description</th>       <th>Value</th>     </tr>   </thead>   <tbody>     <tr>       <th>0</th>       <td>Equatorial Diameter:</td>       <td>6,792 km</td>     </tr>     <tr>       <th>1</th>       <td>Polar Diameter:</td>       <td>6,752 km</td>     </tr>     <tr>       <th>2</th>       <td>Mass:</td>       <td>6.42 x 10^23 kg (10.7% Earth)</td>     </tr>     <tr>       <th>3</th>       <td>Moons:</td>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>4</th>       <td>Orbit Distance:</td>       <td>227,943,824 km (1.52 AU)</td>     </tr>     <tr>       <th>5</th>       <td>Orbit Period:</td>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>6</th>       <td>Surface Temperature:</td>       <td>-153 to 20 °C</td>     </tr>     <tr>       <th>7</th>       <td>First Record:</td>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>8</th>       <td>Recorded By:</td>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'